.loading {
  animation: loading-spin infinite 5s linear;
  height: 50px;

}

.container{
  color: rgb(20, 153, 49);
  font-weight: bold;
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}