.table-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
}
.left{
  width: 40%;
  height: 100%;
}
.content{
  width: 20%;
  height: 100%;
}
.right{
  width: 40%;
  height: 100%;
}
.pull-right
{
  float:right;
}