.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
  border-bottom: 1px solid gray;
}

.key {
  height: 100%;
  color: rgb(20, 153, 49);
  font-weight: bold;
  display: flex;
  text-align: right;
  width: 100%;
}
.value {
  height: 100%;
  color: rgb(21, 70, 13);
  font-weight: bold;
  display: flex;
  text-align: left;
  width: 100%;
}