.buttonWrapper {
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em 2em;
  margin: 0;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgb(20, 153, 49);
  color: rgb(20, 153, 49);
}

.button:active {
  background: rgb(20, 153, 49);
  color: #FFF;
}
